<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form name="form">
    <div><label> Name : <input type="text" name="name"/> </label></div>
    <div><label> length: <input type="number" name="lengthmin"/> </label></div>
    <div><label> id: <input type="text" name="id"/> </label></div>
</form>
<button onclick="addSong();">add</button>
<button onclick="updateSong();">update</button>
<button onclick="deleteSong();">delete</button>
<script type="text/javascript" src="/test.js"></script>
</body>
</html>
